<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="About"></Label>
</ActionBar>

<GridLayout class="page__content">
    <Label class="page__content-icon far" text="&#xf1ea;"></Label>
    <!-- <Label class="page__content-placeholder" text="Sobre nosotros"></Label> -->
    <PullToRefresh (refresh)="onPull($event)">
        <ListView class="list-group" [items]="resultados">
            <ng-template let-x="item">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <Image src="res://icon" class="thumb img-circle" ></Image>
                    <Label [text]="x" class="list-group-item-heading"
                    verticalAlignment="center" style="width: 60%"></Label>
                    <Button text="Eliminar" (tap)="onclick($event, x)"></Button>
                    <Button text="Editar" (tap)="onclick($event, x)"></Button>
                </FlexboxLayout>
            </ng-template>
        </ListView>
    </PullToRefresh>
</GridLayout>