<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Contact"></Label>
</ActionBar>

<!-- <GridLayout class="page__content">
    <Label class="page__content-icon far" text="&#xf1ea;"></Label>
    <Label class="page__content-placeholder" text="Contactenos"></Label>
</GridLayout> -->

<GridLayout columns="auto, *, auto" row="auto, 25" verticalAlignment="top" backgroundColor="lightgray">
    <Image src="res://icon.png" rowSpan="2" width="72" height="72" margin="3" verticalAlignment="top"></Image>
    <Label text="Calificacion de la noticia" textWrap="true" col="1" colSpan="2" minHeight="50" fontSize="20" margin="3"></Label>
    <Label text="Usuario: Carlos Perez" col="1" row="1" fontSize="14" horizontalAlignment="left" verticalAlignment="bottom" margin="3"></Label>
    <Label text="Puntaje: 4.3" col="2" row="1" color="#10C2B0" fontSize="14" verticalAlignment="bottom" margin="3"></Label>
</GridLayout>