<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Search"></Label>
</ActionBar>

<StackLayout class="page__content" #layout>
    <Label class="page__content-icon fas" text="&#xf002;"></Label>
    <!--Label class="page__content-placeholder" *ngFor="let s of noticias.buscar()" [text]="s"></Label-->
    <SearchForm (search)="buscarAhora($event)" [inicial]="'Noticia'"></SearchForm>
    <!-- <ListView class="list-group" [items]="noticias.buscar()" (itemTap)="onItemTap($event)" style="height: 1250px;"> -->
    <ListView class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)" style="height: 1250px;">
        <ng-template let-x="item">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Image src="res://icon" class="thumb img-circle"></Image>
                <Label [text]="x" class="list-group-item-heading" verticalAlignment="center"
                style="width: 60%;"></Label>
            </FlexboxLayout>
        </ng-template>
    </ListView>
</StackLayout>