<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Edit"></Label>
</ActionBar>

<FlexboxLayout flexDirection="column" class="list-group-item page__content">
    <TextField #texto="ngModel" [(ngModel)]="textFieldValue" hint="Ingresar texto..." required></TextField>
    <Label *ngIf="texto.hasError('required')" text="*"></Label>
    <Button text="Guardar" (tap)="onclick($event)"></Button>
</FlexboxLayout>